/* vim: set ft=stylus: */

body {
  margin: 0;
  padding: 0;
  @mixin defaultFont;
}

html,
body,
#root,
.App {
  height: 100%;
  position: relative;
  background-color: $(pageBgColor);
}

a {
  color: $(defaultLinkColor);
  &:hover {
      color: $(defaultHoveredLinkColor);
  }
  // ???
  // &:visited {
  //     // color: $(defaultHoveredLinkColor);
  //     opacity: .8;
  // }
}

