/* vim: set ft=stylus: */

.Header {
  &-Logo {
    $imgWidth: 300px;
    &Img {
      display: block;
      max-height: $(headerLogoHeight)px;
      width: $imgWidth;
      max-width: 100%;
      margin: 0 auto;
      transition: opacity .15s;
      opacity: .75;
      .Header:not(.Header_mode_home) & {
        cursor: pointer;
        opacity: .6;
        &:hover {
          opacity: .85;
        }
      }
    }
  }
}
