.HomePage {

  &-Effects {
    opacity: 0;
    transition: opacity 1.5s;
    // position: relative;
    &_ready {
      opacity: 1;
    }
  }

  &-Effect {
    position: absolute;
    left:   0;
    right:  0;
    top:    0;
    bottom: 0;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background-blend-mode: screen;
    // border: 10px solid green;
    animation-name: HomePageBg1;
    animation-duration: 5s;
  }
  &-Effect_1 {
    animation-name: HomePageBg1;
    animation-duration: 15s;
  }
  &-Effect_2 {
    animation-name: HomePageBg2;
    animation-duration: 20s;
    transform: rotate(180deg);
  }

  @keyframes HomePageBg1 {
    $opacity: .2;
    0% {
      opacity: $opacity;
      // transform: rotate(0deg);
    }
    50% {
      opacity: .7;
    }
    100% {
      opacity: $opacity;
      // transform: rotate(360deg);
    }
  }

  @keyframes HomePageBg2 {
    $opacity: .8;
    0% {
      opacity: $opacity;
      // transform: rotate(0deg);
    }
    50% {
      opacity: .3;
    }
    100% {
      opacity: $opacity;
      // transform: rotate(-360deg);
    }
  }

}

