/* vim: set ft=stylus: */

.HomePage {

  min-height: 100%;

  background-color: color($neutralColor alpha(.5));

  // Animated grandient background...
  $angle1a: random(180,260,{round: true}); // 217;
  $angle2a: random(80,160,{round: true}); // 127;
  $angle3a: random(280,360,{round: true}); // 336;
  $color1a: rgba(255,0,0,.8);
  $color1b: rgba(255,0,0,0);
  $color2a: rgba(0,255,0,.8);
  $color2b: rgba(0,255,0,0);
  $color3a: rgba(0,0,255,.8);
  $color3b: rgba(0,0,255,0);
  $percent1a: random(50,100,{round: true});
  $percent2a: random(50,100,{round: true});
  $percent3a: random(50,100,{round: true});

  background:
    linear-gradient($(angle1a)deg, $color1a, $color2b $(percent1a)%),
    linear-gradient($(angle2a)deg, $color2a, $color2b $(percent2a)%),
    linear-gradient($(angle3a)deg, $color3a, $color2b $(percent3a)%);

  &-Effects {
    opacity: 0;
    transition: opacity 1.5s;
    &_ready {
      opacity: 1;
    }
  }

  &-Effect_1,
  &-Effect_2 {
    position: absolute;
    left:   0;
    right:  0;
    top:    0;
    bottom: 0;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }
  &-Effect_1 {
    animation-name: HomePageBg1;
    animation-duration: 15s;
  }
  &-Effect_2 {
    animation-name: HomePageBg2;
    animation-duration: 20s;
  }

  @keyframes HomePageBg1 {
    $opacity: .2;
    0% {
      opacity: $opacity;
      transform: rotate(0deg);
    }
    50% {
      opacity: .7;
    }
    100% {
      opacity: $opacity;
      transform: rotate(360deg);
    }
  }

  @keyframes HomePageBg2 {
    $opacity: .8;
    0% {
      opacity: $opacity;
      transform: rotate(0deg);
    }
    50% {
      opacity: .3;
    }
    100% {
      opacity: $opacity;
      transform: rotate(-360deg);
    }
  }

}
