/* vim: set ft=stylus: */

.HomePage {

  min-height: 100%;

  background-color: color($neutralColor alpha(.5));

  // Animated grandient background...
  $angle1a: random(180,260,{round: true}); // 217;
  $angle2a: random(80,160,{round: true}); // 127;
  $angle3a: random(280,360,{round: true}); // 336;
  $color1a: rgba(255,0,0,.8);
  $color1b: rgba(255,0,0,0);
  $color2a: rgba(0,255,0,.8);
  $color2b: rgba(0,255,0,0);
  $color3a: rgba(0,0,255,.8);
  $color3b: rgba(0,0,255,0);
  $percent1a: random(50,100,{round: true});
  $percent2a: random(50,100,{round: true});
  $percent3a: random(50,100,{round: true});

  background:
    linear-gradient($(angle1a)deg, $color1a, $color2b $(percent1a)%),
    linear-gradient($(angle2a)deg, $color2a, $color2b $(percent2a)%),
    linear-gradient($(angle3a)deg, $color3a, $color2b $(percent3a)%);
}
