/* vim: set ft=stylus: */

.Main {

  @media (min-width: $(breakpoint_sm)px) {
    transition: all $(pageEffectsTimeout)ms;
    min-height: 100%;
    position: relative;
    .PageAnim-Show {
      min-height: 100%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .PageAnim-Show_key_home {
    height: 100%;
  }

  // Home page (full screen)
  &_mode_home {
    border-top-width: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    // NOTE: Backgeound for home page (move to `HomePage`?)
    background-color: color($neutralColor alpha(.5));
  }

  &.PageAnim_animating.Main_prevMode_home {
    overflow: hidden;
  }

  .PageAnim-Show:not(.PageAnim-Show_key_home) {
    // @mixin debug;
    margin-right: auto;
    margin-left: auto;
    $pagePadding: calc($containerPadding * 2);
    border: $(pagePadding)px solid transparent;
    box-sizing: border-box;
    @media (min-width: $(breakpoint_sm)px) {
      max-width: calc($breakpoint_sm - $pagePadding * 2)px;
      padding-top: calc($headerHeight)px;
    }
    @media (min-width: $(breakpoint_md)px) {
      max-width: calc($breakpoint_md - $pagePadding * 2)px;
    }
    @media (min-width: $(breakpoint_lg)px) {
      max-width: calc($breakpoint_lg - $pagePadding * 2)px;
    }
    @media (min-width: $(breakpoint_xl)px) {
      max-width: calc($breakpoint_xl - $pagePadding * 2)px;
    }
  }
  // Home Container
  .PageAnim-Show_key_home.PageAnim-Show_exiting {
    border: 1px solid green;
    height: 100%;
    @media (max-width: $(breakpoint_sm_pre)px) {
      display: none;
    }
  }

  // Content...

  code:not(.hljs) {
    display: inline-block;
    background-color: color($neutralColor alpha(.1));
    box-shadow: inset 0 0 0 1px color($neutralColor alpha(.1));
    border-radius: 3px;
    font-size: 85%;
    margin: 0;
    padding: .15em .5em;
  }

  h6,
  h5,
  h4,
  h3,
  h2,
  h1 {
    @mixin titleFont;
    font-size: 20px;
    line-height: 1.2;
    &:first-child {
      margin-top: 0;
      padding-top: 0;
    }
  }
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 24px;
  }

}
