/* vim: set ft=stylus: */

.Main {

  @media (min-width: $(breakpoint_sm)px) {
    transition: all $(pageEffectsTimeout)ms;
    min-height: 100%;
    position: relative;
    .PageAnim-Show {
      min-height: 100%;
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }
  .PageAnim-Show_key_home {
    height: 100%;
  }

  // Home page (full screen)
  &_mode_home {
    border-top-width: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
  }

  &.PageAnim_animating.Main_prevMode_home {
    overflow: hidden;
  }

  .PageAnim-Show:not(.PageAnim-Show_key_home) {
    // @mixin debug;
    margin-right: auto;
    margin-left: auto;
    $pagePadding: calc($containerPadding * 2);
    border: $(pagePadding)px solid transparent;
    box-sizing: border-box;
    @media (min-width: $(breakpoint_sm)px) {
      max-width: calc($breakpoint_sm - $pagePadding * 2)px;
      padding-top: calc($headerHeight)px;
    }
    @media (min-width: $(breakpoint_md)px) {
      max-width: calc($breakpoint_md - $pagePadding * 2)px;
    }
    @media (min-width: $(breakpoint_lg)px) {
      max-width: calc($breakpoint_lg - $pagePadding * 2)px;
    }
    @media (min-width: $(breakpoint_xl)px) {
      max-width: calc($breakpoint_xl - $pagePadding * 2)px;
    }
  }
  // Home Container
  .PageAnim-Show_key_home.PageAnim-Show_exiting {
    border: 1px solid green;
    height: 100%;
    @media (max-width: $(breakpoint_sm_pre)px) {
      display: none;
    }
  }

}
